<!DOCTYPE html>
<html ng-app="notesApp">

<head>
    <title>try</title>
</head>

<body ng-controller="MyCtrl as ctrl">
	<input type="text" placeholder="username" ng-model="ctrl.username">
	<input type="password" placeholder="password" ng-model="ctrl.password">
	<input type="email" placeholder="email" ng-model="ctrl.email">
	<input type="text" placeholder="address" ng-model="ctrl.address">
	<button ng-click="ctrl.change()">change info</button>
	<button ng-click="ctrl.submit()">submit</button>

    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript">
    	angular.module('notesApp', [])
    		.controller('MyCtrl', [function(){
    			var self = this;
    			self.change = function(){
    				self.username = "BOB";
    				self.password = "111";
    				self.email = "taotao@163.com";
    				self.address = "USA";
    			}
    			self.submit = function(){
    				console.log("please check this info:",self.username,self.password,self.email,self.address);
    			}
    		}]);
    </script>
</body>

</html>
